<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD.Properties.Settings.ModuloDeSeguridadConnectionString"
            connectionString="Data Source=LAPTOP-J71K94AN\SQLEXPRESSS;Initial Catalog=ModuloDeSeguridad;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=False;Column Encryption Setting=Enabled"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>